* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif 'Times New Roman', Times, serif;
}

.main {
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(15deg, #153677, #4e085f); */
    background: linear-gradient(20deg, #3c0d33, #c3d00c);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #526481;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
#input-box{
    flex: 1;
    border: none;
    outline: none;    
    background: transparent;
    padding: 10px;
}
button{
    outline: none;
    border: none;
    padding: 16px 50px;
    background-color: #ff5945;
    border-radius: 40px;
    font-size: 1rem;
    cursor:  pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(./images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
}
ul li span:hover{
    background-color: #92aadb88;
    border-radius: 50%;
}
